- var version = releases[0].name
- let stars = info.stargazers_count
- let release_date = releases[0].published_at.substring(0,10)

doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title femtovg
  meta(http-equiv="content-type" content="text/html; charset=utf-8")

  style
    include octo.css
    include:less style.less

a.github-corner(href='https://github.com/femtovg/femtovg' aria-label='View source on GitHub')
  include octo.svg
header

  div
    h1
      | femtovg
    h2 2D Vector Graphics in Rust
  div.info
    //- | The femtovg crate provides a GPU-accelerated 2D drawing API similar to that of HTML5 Canvas.
    //- | The latest version (v#{version}) was released #{release_date}.
    //- | Version: v#{version}<br/>
    //- | Released: #{release_date}
    div.links
      a.btn(href="https://docs.rs/femtovg/" + version + "/femtovg/")
        | Documentation
      a.btn(href="https://github.com/femtovg/femtovg")
        | Repository
      a.btn(href="https://discord.gg/V69VdVu")
        | Discord Chat
      a.btn(href="https://discord.gg/V69VdVu")
        | Showcase
  div
    div.centered
      | <img src="github.svg"/> #{stars} stargazers, v#{version} was released #{release_date}
    div.centered
      | <img src="license.svg"/> Apache 2.0 or MIT
    div.centered
      | <img src="rust-logo.svg"/> Written in Rust
    div.centered 
      | <img src="platform.svg"/> Crossplatform: Windows, MacOS, Linux, WebAssembly

article
  h2
    | Showcase
  div.showcase
    div.item
      div.frame
        iframe(src="showcase/demo.html")
      div.title Demo
    div.item
      div.frame
        iframe(src="showcase/svg.html")
      div.title SVG
    div.item
      div.frame
        iframe(src="showcase/paint_image.html")
      div.title Paint Image
    div.item
      div.frame
        iframe(src="showcase/text.html")
      div.title Text
